<a href="https://colab.research.google.com/github/maryamarshad015/Pre-MachineLearning/blob/main/Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lab 01: Introduction to Python for Machine Learning

Lab Overview

In this lab, we will cover the following topics:

1.A brief review of Python for machine learning.

2.Setting up and using Google Colab.

3.Learning essential Python concepts that are foundational for machine learning.

4.Performing basic Python coding tasks.

5.Assigning a homework task for additional practice.

Objective

By the end of this lab, students will be able to:

1.Set up and run Python code in Google Colab.

2.Understand basic Python concepts, including data types, loops, functions, and libraries like NumPy and Pandas.

3.Write simple Python scripts essential for machine learning.

Task 1: Python Basics Review

Create a Python script that:

1.Defines two variables (one integer, one string).

In [ ]:
number=45
word = 'welcome'

2.Uses an if-else statement to print a message depending on the value of the integer.

In [ ]:
if number > 32:
  print(f'number:{number}')
else:
  print("False")

number:45

3.Creates a list of five elements and prints the first three.

In [ ]:
list_num = [2,3,5,6,7]
#slicing
print(list_num[:3])

#for loop in list comprehension
[print(num) for num in list_num[:3]]

[2, 3, 5]
2
3
5

[None, None, None]

4.Defines a function that multiplies two numbers and prints the result.

In [ ]:
def multiply(num1,num2):
  return num1*num2

print(multiply(2,3))

6

Task 2: NumPy and Pandas

In [ ]:
import numpy as np
import pandas as pd

1.Create a NumPy array of numbers from 1 to 10 and calculate the mean.

In [ ]:
np_arr = np.array(range(1,10+1))
print(np_arr.mean())

5.5

2.Create a Pandas DataFrame using a dictionary with at least two columns (e.g., Name and Score) and print the first two rows.

In [ ]:
score_dict = {'Name':['Nick','Donald','John'],'Score':[34,54,66]}
df = pd.DataFrame(score_dict)
df.iloc[:2]

     Name  Score
0    Nick     34
1  Donald     54

Part 5: Homework Assignment

Homework Task 1: Python Functions and Loops

Write a Python program that:

1.Accepts user input for three numbers.

2.Calculates and prints the average of these numbers using a function.

In [ ]:
n1 = int(input("Num1:"))
n2 = int(input("Num2:"))
n3 = int(input("Num3:"))

np_arr = np.array([n1,n2,n3])

#printing avg
print(f'Average: {round(np_arr.mean(),2)}')

Num1:34
Num2:21
Num3:45
Average: 33.33

3.Uses a loop to display numbers from 1 to 10, but only prints even numbers.

In [ ]:
print([num for num in range(10+1) if num%2 == 0])

[0, 2, 4, 6, 8, 10]

Homework Task 2: NumPy and Data Analysis
Write a Python script in Colab that:

1.Creates a NumPy array of random numbers (size 10) and calculates the standard deviation.

In [ ]:
import random

array = np.array([random.randint(1,100) for num in range(10)])
print(f'Standard Deviation: {round(array.std(),2)}')

Standard Deviation: 22.42

2.Loads a dataset into a Pandas DataFrame, prints the column names, and displays the summary statistics for numerical columns.

In [ ]:
dataset = pd.read_csv('CrimesOnWomenIndia.csv')
dataframe = pd.DataFrame(dataset)
dataframe.head()

   Unnamed: 0              State  Year  Rape   K&A   DD   AoW   AoM    DV  WT
0           0     ANDHRA PRADESH  2001   871   765  420  3544  2271  5791   7
1           1  ARUNACHAL PRADESH  2001    33    55    0    78     3    11   0
2           2              ASSAM  2001   817  1070   59   850     4  1248   0
3           3              BIHAR  2001   888   518  859   562    21  1558  83
4           4       CHHATTISGARH  2001   959   171   70  1763   161   840   0

In [ ]:
dataframe.describe()

,Unnamed: 0,Year,Rape,K&A,DD,AoW,AoM,DV,WT
count,736.000000,736.000000,736.000000,736.000000,736.000000,736.000000,736.000000,736.000000,736.000000
mean,367.500000,2011.149457,727.855978,1134.542120,215.692935,1579.115489,332.722826,2595.078804,28.744565
std,212.609188,6.053453,977.024945,1993.536828,424.927334,2463.962518,806.024551,4042.004953,79.999660
min,0.000000,2001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,183.750000,2006.000000,35.000000,24.750000,1.000000,34.000000,3.000000,13.000000,0.000000
50%,367.500000,2011.000000,348.500000,290.000000,29.000000,387.500000,31.000000,678.500000,0.000000
75%,551.250000,2016.000000,1069.000000,1216.000000,259.000000,2122.250000,277.500000,3545.000000,15.000000
max,735.000000,2021.000000,6337.000000,15381.000000,2524.000000,14853.000000,9422.000000,23278.000000,549.000000

Task: 1
  1. Create a Python script that accepts a user's first and last name as input.
  2. Combine the names and print a welcome message, e.g., "Welcome, John Doe!"

In [ ]:
f_name = input("First Name:")
l_name = input("Last Name:")

print(f"Welcome {' '.join([f_name,l_name])}!")

First Name:Maryam
Last Name:Arshad
Welcome Maryam Arshad!

3. Create a list of five cities and use a loop to print each city in uppercase letters.

In [ ]:
cities_list = ['manchester','karachi','islamabad','taxila','texas']
print([city.upper() for city in cities_list])

['MANCHESTER', 'KARACHI', 'ISLAMABAD', 'TAXILA', 'TEXAS']

Task: 2
  1. Write a Python function that accepts a list of numbers and returns the maximum number.

In [ ]:
def max_finder(nums):
  nums_list = np.array(nums)
  return nums_list.max()

nums = [1,45435,567,87967,3]
print(max_finder(nums))

87967

  2. Write another function that checks if a number is prime.

In [ ]:
def is_prime(number):
  #checking for tables in the range starting from
  #table of 2 till the table of square root of number
  for i in range(2,int(np.sqrt(number))+1):
    if number % i == 0:
      return False
  return True

num=34
print(is_prime(num))
 #The loop for number 2 is never executed because the loop for range
 #starting from 2 and ending at 2 will never be executed so without
 #visiting if block it returns directly True.

False

  3. Create a loop that calls the prime-checking function on numbers from 1 to 20 and prints whether each number is prime or not.

In [ ]:
#print([is_prime(num) for num in range(1,20+1)])
for num in range(1,20+1):
  print(f'{num}:{is_prime(num)}')

1:True
2:True
3:True
4:False
5:True
6:False
7:True
8:False
9:False
10:False
11:True
12:False
13:True
14:False
15:False
16:False
17:True
18:False
19:True
20:False

Task: 3
  1. Create a NumPy array of 10 random integers between 1 and 50.
 2. Calculate the sum, mean, and standard deviation of the array.

In [ ]:
import random

#only a list can be converted to array by numpy
array = np.array([random.randint(1,50) for num in range(10)])
print(f'Sum:{round(array.sum(),2)}')
print(f'Mean:{round(array.mean(),2)}')
print(f'Std Deviation:{round(array.std(),2)}')

Sum:252
Mean:25.2
Std Deviation:16.24

In [ ]:
#sorting in descending order thats why reverse is passed as True
#itherwise the default is reverse = False for ascending order
print(f'Sorted array:{sorted(array,reverse=True)}')

Sorted array:[49, 48, 40, 34, 25, 22, 18, 7, 6, 3]

Task: 4
  1. Create a Pandas DataFrame with three columns: Name, Age, and Score.
  2. Add data for at least five students.

In [ ]:
student_dict = {}
Name = ['Azhar','Akram','Mehtab','Ghufran','Fehmeen']
Age = [21,32,23,45,22]
Score = [33,67,98,54,66]

for i in range(len(Name)):
  if 'Name' not in student_dict and 'Age' not in student_dict and 'Score' not in student_dict:
    student_dict['Name'] = [Name[i]]
    student_dict['Age'] = [Age[i]]
    student_dict['Score'] = [Score[i]]
  else:
    student_dict['Name'].append(Name[i])
    student_dict['Age'].append(Age[i])
    student_dict['Score'].append(Score[i])


df = pd.DataFrame(student_dict)
df

      Name  Age  Score
0    Azhar   21     33
1    Akram   32     67
2   Mehtab   23     98
3  Ghufran   45     54
4  Fehmeen   22     66

3. Calculate the average score and filter out students who scored below 70.

In [ ]:
#calculating average score
print(df['Score'].mean())

63.6

In [ ]:
mask = df['Score']<70
df['Name'][mask]

0      Azhar
1      Akram
3    Ghufran
4    Fehmeen
Name: Name, dtype: object

4. Print the names of students who passed (scored 70 or above).

In [ ]:
mask = df['Score'] >= 70
df['Name'][mask]

2    Mehtab
Name: Name, dtype: object


Task 5
  1. Create a new Colab notebook.
  2. Write Python code to generate the first 10 Fibonacci numbers.

In [ ]:
def generate(size):
  fib_list = [0,1]

  for i in range(2,size):
    fib_list.append(fib_list[i-2]+fib_list[i-1])
  return fib_list

In [ ]:
print(generate(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]